/*
# Room:			ALL SONGS CZ/SK
# Author:		xBeats & Rustack
# Made for:		https://plug.dj/allsongs-czsk
# Created:		1.8.2017
## WARNING ##
You are NOT allowed using this file without creator's permission!
*/

.rs-log-green, .rs-log-user-woot {
	color: #00FF00 !important;
	border-left: 3px solid #00FF00 !important;
}

.rs-log-red, .rs-log-user-level1-join, .rs-log-user-meh {
	color: #FF0000 !important;
	border-left: 3px solid #FF0000 !important;
}

/* Header */

.app-header {
	background-color:#000;
}



/* Now Playing Bar */

#history-button {
	transition: 0.3s;
	background-color: #000 !important;
}

#rs-skip-button {
	transition: 0.3s;
	background-color: #000 !important;
}

#history-button:hover {
	box-shadow: inset 0 0 40px #03FF7D !important;
}

#rs-skip-button:hover {
	box-shadow: inset 0 0 40px #11F16E !important;
}

/* Panel Bar */

#chat-button {
	transition:0.3s;
}

#users-button {
	transition:0.3s;
}

#waitlist-button {
	transition:0.3s;
}

#friends-button {
	transition:0.3s;
}

#rcs-appright-button {
	transition:0.3s;
}

#chat-button:hover {
	box-shadow: inset 0 0 15px rgb(3, 255, 125) !important;
}

#users-button:hover {
	box-shadow: inset 0 0 15px rgb(3, 255, 125) !important;
}

#waitlist-button:hover {
	box-shadow: inset 0 0 15px rgb(3, 255, 125) !important;
}

#friends-button:hover {
	box-shadow: inset 0 0 15px rgb(3, 255, 125) !important;
}

#rcs-appright-button:hover {
	box-shadow: inset 0 0 15px rgb(3, 255, 125) !important;
}

/* User List */


#user-lists .header .button.waitlist-bans.selected {
	box-shadow: inset 0 0 15px rgb(255, 0, 0) !important;
	border-bottom: 0px !important;
}


/* Groups */

.group.host {
       color: #03FF7D;
}

.group.manager {
       color: #11F16E;
}

.group.bouncer {
       color: #00DC8F;
}

.group.dj {
       color: #00BC64;
}

/* Bans */

#user-lists .list.bans .user .label {
       color: #ff0000;
}

#user-lists .list.mutes .user .label {
       color: #ff0000;
}

#dialog-confirm {
	background-color: rgb(0, 220, 143) !important;
}

/* Chat */

#chat-messages {
		font-size:12px !important;
}

.cm.log {
	display:none !important;
}

.cm.welcome {
	color: rgb(3, 255, 125) !important;
}

.rs-log-user-friend-join {
	color: #00FF00 !important;
	border-left: 3px solid #00FF00 !important;
}

.rs-log-user-leave {
	color: #FF0000 !important;
	border-left: 3px solid #FF0000 !important;
}

#chat .rs-log-user-staff-join {
	color: #BB01FF !important;
	border-left: 3px solid #BB01FF !important;
}

#chat .rs-log-user-join {
	color: #00FFFF !important;
	border-left: 3px solid #00FFFF !important;
}

#chat .from .un {
    color: #0080FF;
}

#chat .from.admin .un {
	color: #63BEFF;
}

#chat .from.ambassador .un {
	color: #86FF45;
}

#chat .from.host .un {
	color: #03FF7D;
}

#chat .from.cohost .un {
	color: #03FF7D;
}

#chat .from.manager .un {
	color: #11F16E;
}

#chat .from.bouncer .un {
	color: #00DC8F;
}

#chat .from.dj .un {
	color: #00BC64;
}

#chat .from.subscriber .un {
	color: #FFE149;
}

#chat .from.subscriber.silver .un {
	color: #EBEAE5;
}

.cm.moderation {
	color: #03FF7D !important;
}

#chat .mention {
	color: #fff !important;
	border-left: 3px solid #fff !important;
}

#chat .emote {
	border-left: 3px solid green !important;
	background: #111 !important;
}

#chat .emote .text {
	color: white !important;
}

#chat .rs-log-yellow {
	color: #FFFF00 !important;
	border-left: 3px solid #FFFF00 !important;
}

#user-rollover {
	background:rgba(0,0,0,0.8) !important;
	box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
}

.thumb .background {
	background:rgba(0,0,0,0.8) !important;
}

#user-rollover .info .level .label {
	color: #fff !important;
}

.action.mention {
	transition:0.5s;
}

action.friend {
	transition:0.5s;
}

.action.gift {
	transition:0.5s;
}

.action.ignore {
	transition:0.5s;
}

.action.mod-dj {
	transition:0.5s;
}

.action.mod-staff {
	transition:0.5s;
}

.action.mod-mute {
	transition:0.5s;
}

.action.mod-ban {
	transition:0.5s;
}

.action.skip {
	transition:0.5s;
}

.action.mod-waitlist-ban {
	transition:0.5s;
}

.action.giftsub {
	transition:0.5s;
}

.action.mention:hover {
	box-shadow: inset 0 0 20px rgb(3, 255, 125) !important;
	background: transparent !important;
}

.action.friend:hover {
	box-shadow: inset 0 0 20px rgb(3, 255, 125) !important;
	background: transparent !important;
}

.action.mod-dj:hover {
	box-shadow: inset 0 0 20px rgb(3, 255, 125) !important;
	background: transparent !important;
}

.action.skip:hover {
	box-shadow: inset 0 0 20px rgb(3, 255, 125) !important;
	background: transparent !important;
}

.action.gift:hover {
	box-shadow: inset 0 0 20px rgb(255, 225, 73) !important;
	background: transparent !important;
}

.action.mod-staff:hover {
	box-shadow: inset 0 0 20px rgb(128, 0, 255) !important;
	background: transparent !important;
}

.action.ignore:hover {
	box-shadow: inset 0 0 20px rgb(255, 0, 0) !important;
	background: transparent !important;
}

.action.mod-mute:hover {
	box-shadow: inset 0 0 20px rgb(255, 0, 0) !important;
	background: transparent !important;
}

.action.mod-ban:hover {
	box-shadow: inset 0 0 20px rgb(255, 0, 0) !important;
	background: transparent !important;
}

.actions .mod-waitlist-ban:hover {
	box-shadow: inset 0 0 20px rgb(255, 0, 0) !important;
	background: transparent !important;
}

.action.giftsub:hover {
	box-shadow: inset 0 0 20px rgb(255, 225, 73) !important;
	background: transparent !important;
}

#user-rollover.can-gift .action.gift:hover {
	box-shadow: inset 0 0 20px rgb(255, 225, 73) !important;
	background: transparent !important;
}

.is-admin .name {
	color: #63BEFF;
}

.is-ambassador .name {
	color: #86FF45;
}

.is-host .name {
	color: #03FF7D;
}

.is-cohost .name {
	color: #03FF7D;
}

.is-manager .name {
	color: #11F16E;
}

.is-bouncer .name {
	color: #00DC8F;
}

.is-dj .name {
	color: #00BC64;
}

.is-subscriber .name {
	color: #FFE149;
}

.is-subscriber.silver .name {
	color: #EBEAE5;
}


/* User Menu */

#user-menu .item {
	transition:0.3s;
}

#user-menu .item:hover {
	box-shadow: inset 0 0 10px rgb(0, 188, 100) !important;
}

#user-menu .item.selected {
	border-left:3px solid rgb(3, 255, 125);
}

#friends-button.notify .request-count {
  background:rgba(3, 255, 125,.4);
  box-shadow:inset 0 0 0 1px #03FF7D;
}

#user-menu .item.notify .count {
  background:rgba(3, 255, 125,.4);
  box-shadow:inset 0 0 0 1px #03FF7D;
}

#user-friends .tab-menu button .count {
  background:rgba(3, 255, 125,.4);
  box-shadow:inset 0 0 0 1px #03FF7D;
}

#footer-user .buttons .button.notify .count {
  background:rgba(3, 255, 125,.4);
  box-shadow:inset 0 0 0 1px #03FF7D;
}

#user-friends .tab-menu.has-requests button .count {
  background:rgba(3, 255, 125,.4);
  box-shadow:inset 0 0 0 1px #03FF7D;
}

/* Tab Menu */

.tab-menu button {
	background:#000;
	transition:0.3s;
}

.tab-menu button:hover {
	box-shadow: inset 0 0 30px rgb(3, 255, 125) !important;
	background:#000;
}

.tab-menu button.selected {
	background:#000;
	border-bottom:3px solid rgb(17, 241, 110);
}

.dropdown {
	background:#000;
	box-shadow:inset 0 0 20px 0 rgb(0, 220, 143) !important;
}

.dropdown dt {
	box-shadow:inset -40px 0 0 0 rgb(0, 188, 110) !important;
}

.dropdown dd {
	background:#000;
	box-shadow:inset 0 0 20px 0 rgb(3, 255, 125) !important;
}

.dropdown dd .row:hover {
	background:rgb(17, 241, 110);
}

::-webkit-scrollbar-thumb {
	background:rgb(0, 220, 143) !important;
}

.jspDrag {
	background:rgb(0, 188, 110) !important;
}

.jspDrag:hover {
	background:rgb(3, 255, 125) !important;
}

.jspTrack .jspActive {
	background:rgb(3, 255, 125) !important;
}

.jspTrack .jspHover {
	background:rgb(3, 255, 125) !important;
}

#user-friends .list .row .buttons button {
	background:transparent;
}

#user-friends .list .row .buttons button.positive:hover {
	background: transparent !important;
        box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
}

#user-friends .list .row .buttons button.negative:hover {
	background: transparent !important;
        box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
}

#user-friends .list .row {
	box-shadow:inset 0 0 10px 0 rgb(3, 255, 125);
	border-radius:10px;
}

#user-friends .list .row:hover {
	box-shadow:inset 0 0 30px 0 rgb(17, 241, 110);
}

#user-view .user-content {
	border-left:1px solid rgb(0, 220, 143) !important;
}

.user-content.profile .meta .joined {
	color:#888;
}

.user-content .header {
	box-shadow:inset 0 1px 0 0 rgb(0, 188, 110);
}

.user-content .header span {
	color:#888;
}

.experience .xp .bar {
	border-radius: 10px;
}

.experience .xp .bar .progress {
	background: #000;
	border-radius: 10px;
	box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
}

.user-content.profile .meta.is-admin .role span {
	color:rgb(99, 190, 255);
}

.user-content.profile .meta.is-ambassador .role span {
	color:rgb(134, 255, 69);
}

.user-content.profile .meta.is-host .role span {
	color:rgb(3, 255, 125);
}

.user-content.profile .meta.is-cohost .role span {
	color:rgb(3, 255, 125);
}

.user-content.profile .meta.is-manager .role span {
	color:rgb(17, 241, 110);
}

.user-content.profile .meta.is-bouncer .role span {
	color:rgb(0, 220, 143);
}

.user-content.profile .meta.is-dj .role span {
	color:rgb(0, 188, 100);
}

.user-content.profile .meta.is-subscriber .role span {
	color:rgb(255, 225, 73);
}

.user-content.profile .meta.is-subscriber.silver .role span {
	color:rgb(235, 234, 229);
}

.user-content.profile .points .subscribe-button {
	transition:0.3s;
	border-radius:5px;
	background:#000;
	box-shadow: inset 0 0 2px #FFE149 !important;
}

.user-content.profile .points .subscribe-button:hover {
	box-shadow: inset 0 0 15px rgb(255, 225, 73) !important;
	background:rgba(0,0,0,0.8) !important
}


.experience .levels .level.earned.ep {
	background:#000 !important;
}

.experience .levels .level {
	background: #000;
	box-shadow: inset 0 0 5px rgb(17, 241, 110) !important;
	transition:0.3s;
}

.experience .levels .level:hover {
	box-shadow: inset 0 0 30px rgb(0, 220, 143) !important;
}

.experience .levels .level .label {
	background: rgb(188, 0, 88) !important;
        box-shadow: inset 0 0 5px rgb(17, 241, 110) !important;
}

.experience .levels .level .label i.icon-sunburst {
    background: #000000;
    width: 90px;
    border: 2px solid #00BC64;
    border-radius: 10px 10px 0px 0px;
    left: -2px;
    margin-top: -2px;
}

.experience .levels .level .value {
    margin-top: 0px;
}

.experience .levels {
    margin-top: 20px;
}

.experience .xp .next-level {
    color: #FFFFFF;
}

.icon-level-avatar {
    z-index: 1;
}

.icon-level-ep {
    z-index: 1;
}

.icon-level-community {
    z-index: 1;
}

.icon-level-profile {
    z-index: 1;
}

.arrow-down {
	z-index: 2 !important;
}

.avi {
	z-index: 2 !important;
}

.icon {
	z-index: 2 !important;
}
 
.spinner {
	z-index: 2 !important;
}

.thumb.large {
	z-index: 2 !important;
}

.thumb.medium {
	z-index: 2 !important;
}

.thumb.small {
	z-index: 2 !important;
}

.experience .levels .level.mystery .label span {
	color:#eee !important;
	z-index: 2 !important;
}

#user-store .misc .grid .cell .title-bar {
	background: #000;
}

.communities .grid .cell .bar {
	background: #000;
}

.communities .grid .cell .meta {
	background: #000;
}

.communities .grid .cell {
    background: #000000;
}

.communities .grid .cell .meta .join {
    border: 1px solid #03FF7D;
    background: #000000;
}

.communities .grid .cell .favorite {
    background: #000000;
}

.communities .grid .cell .meta .room {
    text-align: center;
    color: #03FF7D;
}

.communities .grid .cell .meta .host {
    text-align: center;
    color: #03FF7D;
}

.communities .grid .cell:hover>.meta {
    background: rgba(0, 0, 0,.9);
}

.user-content.communities .grid .cell {
    background: #000000;
}

.user-content .grid .cell {
    background: #000000;
}

.user-content.communities button {
	background: rgb(17, 241, 110) !important;
}

.user-content.communities button:hover {
	background: rgb(0, 220, 143) !important;
}





/* ▬▬▬▬▬[ TRANSPARENCY ]▬▬▬▬▬ */

#history-button {
      background: transparent !important;
}

#rs-skip-button  {
      background: transparent !important;
}

#waitlist .user {
      background: transparent !important;
}

.badge-box {
      background: transparent !important;
}

.thumb .background {
      background: transparent !important;
}

#chat .cm:nth-child(2n+1) {
      background: transparent !important;
}

#user-lists .list .user:hover {
      background: transparent !important;
}

#user-friends .list .row {
      background: transparent !important;
}

.app-right .friends .header {
    background: transparent !important;
}

.app-right {
      background: rgba(0,0,0,.65) !important;
}

.app-right .friends {
      background: rgba(0,0,0,.65) !important;
}

#dashboard {
      background: rgba(0, 0, 0, 1) !important;
}

#footer {
      background: rgba(0, 0, 0, 1) !important;
}

#footer-user .menu {
      background: rgba(0, 0, 0, 1) !important;
}

#footer .info {
      background: rgba(0,0,0,.65) !important;
}

#app-menu {
      background: rgba(0, 0, 0, 1) !important;
}

#user-rollover {
      background: rgba(0, 0, 0, 0.65) !important;
}

#user-rollover .info {
      background: transparent !important;
}

#room-settings-menu {
      background: rgba(0, 0, 0, 1) !important;
}

#playlist-menu .menu .row.selected {
      background: rgba(0, 0, 0, 1) !important;
}

#user-menu .item.selected {
      background: rgba(0, 0, 0, 1) !important;
}

#room-settings {
      background: rgba(0, 0, 0, 1) !important;
}

#playlist-menu {
      background: rgba(0, 0, 0, 1) !important;
}

#playlist-panel {
      background: rgba(0, 0, 0, 1) !important;
}

#app-menu .button {
      background: rgba(0, 0, 0, 1) !important;
}

.app-header {
      background: rgba(0, 0, 0, 1) !important;
}

#chat-input {
      background: rgba(0, 0, 0, 1) !important;
}

#footer-user .back {
      background: rgba(0, 0, 0, 1) !important;
}

#user-menu{
      background: rgba(0, 0, 0, 1) !important;
}

#user-view {
      background: rgba(0, 0, 0, 1) !important;
}

.tab-menu button:hover {
    background: #000000;
    color: #FFFFFF;
}

.tab-menu button {
    position: relative;
    display: block;
    float: left;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background: #000000;
    -webkit-box-shadow: inset 1px 0 0 0 #000000;
    -moz-box-shadow: inset 1px 0 0 0 #000000;
    box-shadow: inset 1px 0 0 0 #000000;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
    font-family: "Open Sans",sans-serif;
    cursor: pointer;
}

#history-button i.icon.icon-history-white:hover {
  -moz-transform : rotate(360deg);
  -ms-transform : rotate(360deg);
  -o-transform : rotate(360deg);
  -webkit-transform : rotate(360deg);
  transform : rotate(360deg);
}

.dropdown dd .row {
   color: #FFFFFF;
}

#user-settings .container .item span {
   color: #FFFFFF;
}

#user-settings .container .cap .title {
   color: #FFFFFF;
}

#user-settings .container .cap .value {
   color: #FFFFFF;
}

.communities .grid .cell .meta .now-playing {
   color: #03FF7D;
}

#chat-input-field {
   color: #03FF7D;
}

.communities .grid .cell .population div.guests span {
   color: #FFFFFF;
}

#user-friends .count-box .total {
   color: #FFFFFF;
}

#user-friends .list .row .joined {
   color: #FFFFFF;
}

#user-friends .list .row .level .label {
   color: #FFFFFF;
}

.dropdown dt span.level {
   color: #FFFFFF;
}

.user-content.profile .meta .link .label {
   color: #FFFFFF;
}

.filter-or {
   color: #FFFFFF;
}

#youtube-input-field {
   color: #FFFFFF;
}

#app-menu .list .rcsunload span {
   color: #FFFFFF;
}

#app-menu .list .item span {
   color: #FFFFFF;
}

#app-menu .list .logout span {
   color: #FFFFFF;
}

#rs-settings .container .item span, #rcs-menu .item span {
  color: #FFFFFF!important; 
}

.rcspdjheader span {
  color: #FFFFFF !important; 
}

#rcs-appright-button .list.staff .group span, #rcs-menu .group span {
  color: #FFFFFF !important;
}

#app-menu .list .rcsunload,
#app-menu .list .logout {
  background:none !important;
  transition:0.2s;
  border:none !important;
  color:#fff;
  left:0 !important;
  right:0 !important;
}

#app-menu .list .rcsunload:hover {
  background:rgba(184, 40, 40, 0.2) !important;
  box-shadow:inset 3px 0 0 #B82828;
}

#app-menu .list .logout:hover {
  background:rgba(191, 43, 43, 0.2) !important;
  box-shadow:inset 3px 0 0 #BF2B2B;
}


.offline .thumb {
	border-color: hsl(0, 70%, 50%) !important;
	box-shadow: none !important;
}

.thumb.large, #user-rollover .meta.offline .thumb.large {
	box-shadow: 0 0 15px hsl(0, 70%, 50%) !important;
}

.thumb.large, .thumb, #user-rollover .meta.offline .thumb {
	border-color: hsl(0, 70%, 50%) !important;
	box-shadow: 0 0 7px hsl(0, 70%, 50%) !important;
}

.thumb.large, .thumb, #user-rollover .meta.online .thumb {
	border-color: hsl(80,70%,50%) !important;
	box-shadow: 0 0 7px hsl(80,70%,50%) !important;
}

.thumb.large, #user-rollover .meta.online .thumb.large {
	box-shadow: 0 0 15px hsl(80,70%,50%) !important;
}

/* Rustack */

#user-rollover.id-29099103 .meta:before {
    content: 'CSS';
    top: 112px;
    left: 105px;
    position: absolute;
    display: inline-block; 
    padding: 0 3px;
    color: #03FF7D;
    background: linear-gradient(rgba(0, 64, 0, 0.5), rgba(0, 128, 0, 0.5));
    font-size: 10px;
}

#user-rollover.id-29099103 .meta:after {
    content: 'Helper';
    color: #03FF7D;
    position: absolute;
    top: 110px;
    left: 130px;
}

#chat .cm[data-cid^="29099103-"] .un {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}

#user-rollover.id-29099103 > .info > .role span:after {
    content:'/ VIP';
}

.id-29099103 > .msg > .from.dj > .un, 
#waitlist .list .user[data-uid="29099103"] .meta.is-staff .name .icon-chat-dj + span, #user-rollover.id-29099103 > .info > .role span, #user-rollover.id-29099103 > .meta > .username, #user-lists .list.room .user.id-29099103 .name {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}

#chat .cm.message.id-29099103, #chat .cm.emote.id-29099103 {
    border-left:  #03FF7D 2px dotted !important;
    border-right: #03FF7D 2px dotted !important;
}

#chat .cm.message.id-29099103:hover, #chat .cm.emote.id-29099103:hover {
    border-left-style:  solid !important;
    border-right-style: solid !important;
}

.emote.id-29099103 .text {
    color:  #03FF7D !important;
}

[data-cid^="29099103"].cm .msg .from .un, #user-lists .list.room .user.role-dj.id-29099103 .name {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}


[data-cid^="29099103"].cm .msg .from .un {
        font-size: 13px;
}

[data-cid^="29099103"].cm:hover .msg .from .un, #user-lists .list .user.role-dj.id-29099103:hover .name {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}

#chat [data-cid^='29099103-'] .un:after,
#user-lists .list .user.id-29099103 .name:after,
#user-rollover.id-29099103 .username:after {
    content: 'Designer Helper';
    border-style: solid;
    border-color: #03FF7D;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #11F16E;
    font-style: normal;
}

/* 🎮𝕩𝕓𝕖𝕒𝕤𝕥🎮 */

#user-rollover.id-29140933 .meta:before {
    content: 'CSS';
    top: 112px;
    left: 105px;
    position: absolute;
    display: inline-block; 
    padding: 0 3px;
    color: #11F16E;
    background: linear-gradient(rgba(0, 64, 0, 0.5), rgba(0, 128, 0, 0.5));
    font-size: 10px;
}

#user-rollover.id-29140933 .meta:after {
    content: 'Designer';
    color: #11F16E;
    position: absolute;
    top: 110px;
    left: 130px;
}

#chat .cm[data-cid^="29140933-"] .un {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}

#user-rollover.id-29099103 > .info > .role span:after {
    content:'/ VIP';
}

.id-29140933 > .msg > .from.dj > .un, 
#waitlist .list .user[data-uid="29140933"] .meta.is-staff .name .icon-chat-dj + span, #user-rollover.id-29140933 > .info > .role span, #user-rollover.id-29140933 > .meta > .username, #user-lists .list.room .user.id-29140933 .name {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}

#chat .cm.message.id-29140933, #chat .cm.emote.id-29140933 {
    border-left:  #11F16E 2px dotted !important;
    border-right: #11F16E 2px dotted !important;
}

#chat .cm.message.id-29140933:hover, #chat .cm.emote.id-29140933:hover {
    border-left-style:  solid !important;
    border-right-style: solid !important;
}

.emote.id-29099103 .text {
    color:  #11F16E !important;
}

[data-cid^="29140933"].cm .msg .from .un, #user-lists .list.room .user.role-dj.id-29140933 .name {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}


[data-cid^="29140933"].cm .msg .from .un {
        font-size: 13px;
}

[data-cid^="29140933"].cm:hover .msg .from .un, #user-lists .list .user.role-dj.id-29140933:hover .name {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}

#chat [data-cid^='29140933-'] .un:after,
#user-lists .list .user.id-29140933 .name:after,
#user-rollover.id-29140933 .username:after {
    content: 'Room designer';
    border-style: solid;
    border-color: #11F16E;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #00DC8F;
    font-style: normal;
}

/* Ðʝ Ƒ𝐢ᗪ𐍈 */

#chat [data-cid^='4822496-'] .un:after,
#user-lists .list .user.id-4822496 .name:after,
#user-rollover.id-4822496 .username:after {
    content: 'Host ';
    border-style: solid;
    border-color: #11F16E;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #11F16E;
    font-style: normal;
}

#user-rollover .meta.online .status span {
   color: #00FF00;
   margin-left: 0;
}

#user-rollover .meta.online .status i {
   display: none;
}

#now-playing-dj .username {
    color: #03FF7D;
    text-shadow: 1px 1px 8px #11F16E, -1px -1px 8px #00DC8F;
}

#now-playing-media .bar-value, #chat .cm.scriptmsg .smsg-title {
    color: #03FF7D;
    text-shadow: 1px 1px 8px #11F16E, -1px -1px 8px #00DC8F;
}

#now-playing-media .bar-value .author, #chat .cm.scriptmsg .smsg-author {
    color: #03FF7D;
    text-shadow: 1px 1px 8px #11F16E, -1px -1px 8px #00DC8F;
}

#app-menu .button:hover {
  box-shadow:inset 0 -5px 10px #03FF7D  !important;
}

.app-header {
  box-shadow:inset 0 -5px 10px #03FF7D  !important;
}

.header-panel-button {
transition:0.3s;
}

.header-panel-button:hover {
box-shadow:inset 0 -5px 10px #03FF7D  !important;
}

.header-panel-button.selected {
transition:0.3s;
box-shadow:inset 0 -5px 10px #03FF7D  !important;
}

#rs-skip-button:hover {
box-shadow:inset 0 -5px 10px #03FF7D  !important;
}

#rs-skip-button {
background:none !important;
box-shadow:none !important;
transition:0.3s;
}

#history-button:hover {
box-shadow:inset 0 -5px 10px #03FF7D  !important;
}

#history-button {
background:none;
box-shadow:none;
transition:0.3s;
}

#history-button.selected {
background: #000;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: inset 0 -5px 10px #03FF7D  !important;
}

#volume .slider .circle {
  top: 5px;
}

.slider .line {
	background: linear-gradient(to right, hsl(120,100%,50%), hsl(0,100%,50%)) !important;
}

#user-settings .container .cap .slider .circle {
  top: 1px;
}

/* Subscriber */

#user-rollover .meta.subscriber .status span {
	color: #FFE149;
}

#user-rollover .actions .giftsub span {
	color: #FFE149;
}



#user-rollover .meta.subscriber.silver .status i {
	background-image: url("http://i.imgur.com/tn3DrDG.png");
	color: #EBEAE5;
	background-position: -1px 0 !important;
}
#user-rollover .meta.subscriber.silver .status span {
	color: #EBEAE5;
}

/* Staff */



.icon-chat-admin ~ .un, .app-right .friends .is-admin span, .from.admin > span {
    color: #63BEFF !important;
}



:not(#chat) .icon-chat-ambassador + span, #chat .icon-chat-ambassador ~ .un {
    color: #86FF45 !important;
}



#user-panel:not(.is-none) .user > .icon-chat-host + .name,#user-lists .user > .icon-chat-host + .name,.message.from-host > .from,.emote.from-host > .from,.mention.from-host > .from {
    color: #03FF7D !important;
}

.icon-chat-host ~ .text > .name,.icon-chat-host ~ .from,.icon-chat-host ~ span {
    color: #03FF7D !important;
}

#user-lists .group.host ~ .user {
    color: #03FF7D !important;
}


#chat-messages:not(.is-none) .user > .icon-chat-cohost + .name,#user-lists .user > .icon-chat-cohost + .name,.message.from-cohost > .from,.emote.from-cohost > .from,.mention.from-cohost > .from {
    color: #03FF7D !important;
}

.icon-chat-cohost ~ .text > .name,.icon-chat-cohost ~ .from,.icon-chat-cohost ~ span {
    color: #03FF7D !important;
}

.icon-chat-cohost, .message.from-cohost > .icon,.emote.from-cohost > .icon, .mention.from-cohost > .icon {		
    background-image: url('https://vgy.me/9L48ig.png') !important;		
    background-position: center;		
}



.icon-chat-manager ~ .text > .name,.icon-chat-manager ~ .from,.icon-chat-manager ~ span {
    color: #11F16E !important;
}

#user-panel:not(.is-none) .user > .icon-chat-manager + .name,#user-lists .user > .icon-chat-manager + .name,.message.from-manager > .from,.emote.from-manager > .from,.mention.from-manager > .from {
    color: #11F16E !important;
}

#user-lists .group.manager ~ .user {
    color: #11F16E !important;
}

/* Bouncer */

#user-panel:not(.is-none) .user > .icon-chat-bouncer + .name,#user-lists .user > .icon-chat-bouncer + .name,.message.from-bouncer > .from,.emote.from-bouncer > .from,.mention.from-bouncer > .from {
    color: #00DC8F !important;
}

.icon-chat-bouncer ~ .text > .name,.icon-chat-bouncer ~ .from,.icon-chat-bouncer ~ span {
    color: #00DC8F !important;
}

#user-lists .group.bouncer ~ .user {
    color: #00DC8F !important;
}

/* Rdj */

#user-panel:not(.is-none) .user > .icon-chat-dj + .name,#user-lists .user > .icon-chat-dj + .name,.message.from-residentdj > .from,.emote.from-residentdj > .from,.mention.from-residentdj > .from {
    color: #00BC64 !important;
}

.icon-chat-dj ~ .text > .name,.icon-chat-dj ~ .from,.icon-chat-dj ~ span {
    color: #00BC64 !important;
}

#user-lists .group.dj ~ .user {
    color: #00BC64 !important;
}

.user-content.profile .meta .blurb .box {
    position: relative;
    overflow: hidden;
    padding: 7px;
    min-width: 240px;
    min-height: 38px;
    max-width: 300px;
    max-height: 38px;
    width: 90%;
    background: #000000;
    cursor: pointer;
}

.subscribe-button {
    position: relative;
    top: 5px;
    float: right;
    margin-left: 10px;
    padding: 6px;
    background: #000000;
    color: #eee;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
}

.subscribe-button span {
    color: #FFE149;
}

/* App-menu */

#app-menu {
  max-width: 400px !important;
}

#app-menu .list {
  max-width: 400px !important;
}

#app-menu, 
#app-menu.open { 
  -webkit-transition: 500ms ease; 
  transition: 500ms ease; 
} 

#app-menu .list { 
  -webkit-transition: 500ms ease; 
  transition: 500ms ease; 
  opacity: 0; 
}

#app-menu.open .list { 
  -webkit-transition: 500ms ease; 
  transition: 500ms ease; opacity: 1; 
}

#app-menu {
  border-right-width: 0 !important; 
  -moz-box-shadow: none; 
  -webkit-box-shadow: none; 
  box-shadow: none;
}

#app-menu.open { 
  background-color: #282c35; 
}

#app-menu { 
  left: -177px; 
  max-width: 300px; 
  background-color: rgba(69, 69, 69, 0.25); 
}

#app-menu .button i { 
  left: 189px; 
}

#app-menu .item:hover { 
  background: #000 !important;  
  box-shadow: inset 0 0 10px rgb(0, 188, 100) !important;
}

#search {
    position: absolute;
    top: 0;
    left: 53px;
    overflow-x: hidden;
    width: 500px;
    height: 54px;
    background: #000000;
    -webkit-box-shadow: inset -2px 2px 0 -1px #000000;
    -moz-box-shadow: inset -2px 2px 0 -1px #000000;
    box-shadow: inset -2px 2px 0 -1px #000000;
}

#app-menu .list {
    position: absolute;
    top: 53px;
    left: -53px;
    width: 180px;
    background: #000000;
    font-weight: 400;
    font-size: 16px;
    transition: all .2s ease-in;
}

#chat-input {
    background: #000000;
    box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
    border-radius: 10px !important;
}

/* focused */

.focused {
    border-radius: 10px !important;
    box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
}

#filter-bar {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D !important;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D !important;
    box-shadow: inset 0 0 0 1px #03FF7D !important;
}

#user-lists .list-header .input-background {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D !important;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D !important;
    box-shadow: inset 0 0 0 1px #03FF7D !important;
}

#dashboard .search  {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D !important;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D !important;
    box-shadow: inset 0 0 0 1px #03FF7D !important;
}

.dialog-input-background {
    background: #000000;
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D !important;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D !important;
    box-shadow: inset 0 0 0 1px #03FF7D !important;
}

.dialog-input-background.focused {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D !important;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D !important;
    box-shadow: inset 0 0 0 1px #03FF7D !important;
}

#rcs-menu .search {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D !important;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D !important;
    box-shadow: inset 0 0 0 1px #03FF7D !important;
}

#user-friends .search {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D !important;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D !important;
    box-shadow: inset 0 0 0 1px #03FF7D !important;
}

#search-menu .bar-divider {
    background: #03FF7D;
}

#search-menu li:hover {
    box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
    background: #000000;
}

#search-menu {
    border-color: #03FF7D !important;
}

#search-menu li {
    border-color: #03FF7D !important;
}

.user-content.profile .meta .blurb input {
    position: relative;
    display: none;
    padding: 7px;
    min-width: 240px;
    min-height: 38px;
    max-width: 300px;
    max-height: 38px;
    width: 90%;
    border: none;
    background: #000000;
    -webkit-box-shadow: inset 0 0 0 1px #03FF7D;
    -moz-box-shadow: inset 0 0 0 1px #03FF7D;
    box-shadow: inset 0 0 10px rgb(3, 255, 125) !important;
    color: #eee;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans',sans-serif;
}

#search {
  background: #000 !important;  
}

#filter-bar {
  background: #000 !important;  
}

#dashboard .search { 
  background:  #000 !important; 
}

.slider .line, #user-settings .slider .bar {
	background: linear-gradient(to right, hsl(120,100%,50%), hsl(0,100%,50%)) !important;
}

#user-settings .slider .bar {
	width: calc(100% - 1px) !important;
}

.rcsslider .bar {
	background: linear-gradient(to right, hsl(120,100%,50%), hsl(0,100%,50%)) !important;
}

.notification {
	background: rgba(3, 255, 125,.7);
}
#toast-notifications .left {
	background: linear-gradient(135deg, rgba(255,255,255,.4), rgba(0,0,0,0)) !important;
}
#toast-notifications .right {
	background: linear-gradient(rgba(255,255,255,.2), rgba(0,0,0,0)) !important;
}

.bar-divider {
    position: absolute;
    top: 13px;
    left: 0;
    width: 1px;
    height: 28px;
    background: #03FF7D;
}

.user-content .avatars .grid .cell .top {
	background: #000000;
}

.user-content .grid .cell .top {
	background: #000000 !important;
}

.user-content .avatars .cell:hover .top, .user-content .avatars .cell.selected .top {
	background: #000000 !important;
}

.communities .grid .cell .population .friends .divider {
    position: relative;
    float: left;
    width: 1px;
    height: 24px;
    background: #03FF7D;
    margin-right: 4px;
    margin-top: -2px;
}

.communities .grid .cell .population .guests .divider {
    position: relative;
    float: left;
    width: 1px;
    height: 24px;
    background: #03FF7D;
    margin-right: 4px;
    margin-top: -2px;
}

#user-lists .list.staff .group:first-child {
	background:transparent;
}
