/*
# Room:			ALL SONGS CZSK
# Author:		xBeast
# Made for:		https://plug.dj/allsongs-czsk
# Created:		29.7.2017

*/

* {
	font-family:Tahoma, sans-serif !important;
}

.room-background {
	background:url('http://i.imgur.com/fwF6lHa.jpg') !important;
}

/* Icons */

.icon-next-track {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:0 0;
}

.icon-check-circle {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-30px 0;
}

.icon-check-purple {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-60px 0;
}

.icon-staff {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-90px 0;
}

.icon-community-users {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-120px 0;
}

.icon-ban {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-150px 0;
}

.icon-grab {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-180px 0;
}

.icon-meh {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-210px 0;
}

.icon-woot {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-240px 0;
}

.icon-woot {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-240px 0;
}

.icon-chat-dj {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-285px -15px;
}

.icon-chat-bouncer {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-300px -15px;
}

.icon-chat-manager {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-300px 0;
}

.icon-chat-host, .icon-chat-cohost {
	background:url('http://i.imgur.com/OW2A07t.png');
	background-position:-315px 0;
}


/* Header */

.app-header {
	background-color:#000;
}

/* Plug Menu */

#app-menu {
	background-color:rgb(43,87,154);
}

#app-menu:hover {
	background-color:rgb(70,123,203);
}

/* Room Bar */

.dark-label {
	color:#fff;
	font-weight:bold;
}

.favorite i:hover, .favorite.selected i {
background:url('https://cdn.plug.dj/_/static/images/icons.38f7ee77fd7ad2bc018b1a25fd4a1f0aaba5a4cd.png');
	background-position: -35px -280px !important;
}

/* Now Playing Bar */

#history-button, #rs-skip-button {
	transition:0.3s;
	background-color:#000 !important;
}

#history-button:hover , #rs-skip-button:hover {
	box-shadow: inset 0 0 40px #4aaee7 !important;
}

/* Panel Bar */

#header-panel-bar {
	background-color:#000 !important;
}

#chat-button, #users-button, #waitlist-button, #friends-button, #rcs-appright-button {
	transition:0.3s;
}

#chat-button:hover, #users-button:hover, #waitlist-button:hover, #friends-button:hover, #rcs-appright-button:hover {
	box-shadow: inset 0 0 40px #4aaee7 !important;
}

.header-panel-button.selected {
	background-color:rgb(43,87,154);
}

#playback .background {
	background: url('') !important;
	width: 700px !important;
	height: 270px !important;
	left:-90px;
}

#playback .background img {
	display: none;
}


/* User List */

.app-right .friends .header {
	background:#000;
	transition:0.3s;
}

.app-right .friends .header:hover {
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
}

.app-right .friends .header i {
	background:rgb(70,123,203);
}

.app-right .friends .list .row:hover {
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
	border-radius:10px;
}

.app-right .friends .list .row.clickable .room:hover {
	text-decoration:none;
	color:#fff;
}

.button.room.selected {
	box-shadow: inset 0 0 20px #4aaee7 !important;
	border-bottom: 0px !important;
}

.button.staff.selected {
	box-shadow: inset 0 0 20px #4aaee7 !important;
	border-bottom: 0px !important;
}

.button.bans.selected, .button.mutes.selected, .button.ignored.selected {
	box-shadow: inset 0 0 20px #ff0000 !important;
	border-bottom: 0px !important;
}

/* Groups */

.group.host {color:#f7004e;}
.group.manager {color:#00f72d;}
.group.bouncer {color:#b300b3;}
.group.dj {color:#ad0000;}

/* Bans */

#user-lists .list.bans .user .label, #user-lists .list.mutes .user .label {color:#ff0000;}

#dialog-confirm {
	background-color:rgb(43,87,154) !important;
}

.dialog-body {
	background-color:#000 !important;
}

.button.cancel, .button.submit {
	color:#fff !important;
}

.button.submit {
	background:rgb(43,87,154) !important;
}

/* Chat */

#chat-messages {
		font-size:12px !important;
}

.cm.log {
	display:none !important;
}

.cm.welcome {
	color:rgb(70,123,203) !important;
	background-color:#282c35 !important;
}

.rs-log-user-friend-join {
	color:#009a00 !important;
	border-left: 3px solid #009a00 !important;
	background:#000;
}

.rs-log-user-leave {
	color:#ff0000 !important;
	border-left: 3px solid #ff0000 !important;
	background:#000;
}

#chat .from.dj .un, #chat .from.staff .un {
	color:#4aaee7;
}

.cm.moderation {
	color:#4aaee7 !important;
}

#chat .name {
	color:#4aaee7 !important;
	font-weight:bold;
}

#chat .mention {
	color:#fff !important;
	border-left:3px solid #fff !important;
	background:#000 !important;
}

#chat .emote {
	border-left:3px solid green !important;
	background:#111 !important;
}

#chat .emote .text {
	color:green !important;
}

#user-rollover {
	background:rgba(0,0,0,0.8) !important;
}

.thumb .background {
	background:rgba(0,0,0,0.8) !important;
}

#user-rollover .info {
	background:rgba(43,87,154,0.4) !important;
}

#user-rollover .info .level .label {
	color:#fff !important;
}

#user-rollover.is-staff .info .role span {
	color:#fff !important;
}

#user-rollover {
	border-radius:10px 10px 0px 0px;
}

.action.mention, .action.friend, .action.gift, .action.ignore, .action.mod-dj, .action.mod-staff, .action.mod-mute, .action.mod-ban, .action.skip {
	transition:0.3s;
}

.action.mention:hover, .action.gift:hover, .action.friend:hover, .action.mod-dj:hover, .action.skip:hover {
	box-shadow: inset 0 0 30px #4aaee7 !important;
	background:rgba(0,0,0,0.8) !important
}

.action.mod-staff:hover {
	box-shadow: inset 0 0 30px #4aaee7 !important;
	background:rgba(0,0,0,0.8) !important
}

.action.ignore:hover, .action.mod-mute:hover, .action.mod-ban:hover {
	box-shadow: inset 0 0 30px #ff0000 !important;
	background:rgba(0,0,0,0.8) !important
}

.action.giftsub {
	transition:0.3s;
}

.action.giftsub:hover {
	box-shadow: inset 0 0 30px #c59840 !important;
	background:rgba(0,0,0,0.8) !important
}

/* Footer */

#footer {
	background:rgba(43,87,154,0.6) !important;
}

#playlist-button {
	background:rgb(43,87,154) !important;
}

#playlist-button:hover {
	background:rgb(70,123,203) !important;
}

.inventory.button:hover , .badge.button:hover, .store.button:hover, .profile.button:hover, .settings.button:hover  {
	background:rgb(70,123,203) !important;
}

#dj-button .left, #dj-button.is-leave .left, #dj-button.is-quit .left, #dj-button.is-join .left {
	background:rgb(43,87,154) !important;
}

/* Woot */

#woot .bottom, #woot.selected {
	background:#009a00 !important;
}

#woot-rs, .title.woot {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.title.woot {
	background:#009a00 !important;
}

#woot.crowd-response.disabled.active .bottom {
	background:#009a00 !important;
}


#woot-rs-list {
	background:rgba(16,17,21,0.8);
}

/* Grab */

#grab .bottom, #grab.selected {
	background:#b300b3 !important;
}

#grab-rs, .title.grab {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.title.grab {
	background:#b300b3 !important;
}

#grab.crowd-response.disabled.active .bottom {
	background:#b300b3 !important;
}


#grab-rs-list {
	background:rgba(16,17,21,0.8);
}

/* Meh */

#meh .bottom, #meh.selected {
	background:#ff0000 !important;
}

#meh-rs, .title.meh {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.title.meh {
	background:#ff0000 !important;
}

#meh.crowd-response.disabled.active .bottom {
	background:#ff0000 !important;
}


#meh-rs-list {
	background:rgba(16,17,21,0.8);
}

/* Notifications */

#toast-notifications .notification .left {
	background: rgb(43,87,154) !important;
}

/* Footer */

#footer-user .info {
	top: -60px;
	height: 60px;
	background: rgba(0,0,0,0.8) !important;
	border-top: 1px solid rgb(70,123,203) !important;
	border-left: 1px solid rgb(70,123,203) !important;
	border-right: 1px solid rgb(70,123,203) !important;
	border-radius: 5px 5px 0px 0px;
	left: -2px;
}

.is-dj .name, .is-staff .name {
	color: rgb(70,123,203) !important;
}

#footer-user .info .meta div.bar {
	border-radius: 10px;
}

#footer-user .info .bar .progress {
	background: #000;
	border-radius: 10px;
	box-shadow: inset 0 0 10px rgb(70,123,203) !important;
}

#footer-user.showing .back, .is-guest #footer-user .signup {
	background-color:rgb(43,87,154) !important;
}

#footer-user.showing .back:hover, .is-guest #footer-user .signup:hover {
	background-color:rgb(70,123,203) !important;
}

/* User Menu */

#user-menu {
	background:#000;
}

#user-menu .item {
	transition:0.3s;
}

#user-menu .item:hover {
	box-shadow: inset 0 0 10px rgb(70,123,203) !important;
}

#user-menu .item.selected {
	background:#000;
	border-left:3px solid rgb(70,123,203);
}

#user-menu .item.notify .count {
	background:#000;
	box-shadow: inset 0 0 20px rgb(70,123,203) !important;
	padding:5px;
	margin:-5px 5px 0px 0px;
}

#friends-button.notify .request-count {
	background:#000;
	box-shadow: inset 0 0 20px rgb(70,123,203) !important;
	padding:5px;
	z-index:2;
}

#user-friends .tab-menu.has-requests button .count {
	background:#000;
	box-shadow: inset 0 0 20px rgb(70,123,203) !important;
	padding:5px;
	z-index:2;
	margin:-5px 0px 0px 10px;
}
#user-menu .avatar {
    background: url(https://i.imgur.com/t73rJ7o.jpg) no-repeat!important;
    background-size: cover!important
}

#user-menu .item.selected {
    background: linear-gradient(to top,#0d3944 0,#4a928a 100%)!important
}

/* Tab Menu */

.tab-menu button {
	background:#000;
	transition:0.3s;
}

.tab-menu button:hover {
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
	background:#000;
}

.tab-menu button.selected {
	background:#000;
	border-bottom:3px solid rgb(70,123,203);
}

.dropdown {
	background:#000;
	box-shadow:inset 0 0 20px 0 rgb(43,87,154) !important;
}

.dropdown dt {
	box-shadow:inset -40px 0 0 0 rgb(43,87,154) !important;
}

.dropdown dd {
	background:#000;
	box-shadow:inset 0 0 20px 0 rgb(43,87,154) !important;
}

.dropdown dd .row:hover {
	background:rgb(43,87,154);
}

::-webkit-scrollbar-thumb {
	background:rgb(43,87,154) !important;
}

.jspDrag {
	background:rgb(43,87,154) !important;
}

.jspDrag:hover, .jspTrack .jspActive, .jspTrack .jspHover {
	background:rgb(70,123,203) !important;
}

.user-content .grid .cell .top {
	background: rgba(0,0,0,1) !important;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(83%, rgba(55,127,166,1)), color-stop(100%, rgba(0,0,0,1))) !important;
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ) !important;
}

.user-content .grid .cell .top:hover {
	background: rgba(0,0,0,1) !important;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(53,168,230,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(83%, rgba(53,168,230,1)), color-stop(100%, rgba(0,0,0,1))) !important;
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(53,168,230,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(53,168,230,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(53,168,230,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(53,168,230,1) 83%, rgba(0,0,0,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ) !important;
}

.user-content .grid .cell, .user-content.communities .grid .cell {
	background: rgba(0,0,0,1) !important;
	background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(83%, rgba(55,127,166,1)), color-stop(100%, rgba(0,0,0,1))) !important;
	background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(55,127,166,1) 83%, rgba(0,0,0,1) 100%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 ) !important;
}

#user-friends .list .row .buttons button {
	background:transparent;
}

#user-friends .list .row .buttons button.positive:hover {
	background:rgb(70,123,203) !important;
	border-radius:0px 10px 0px 0px;
}

#user-friends .list .row .buttons button.negative:hover {
	background:#ff0000 !important;
	border-radius:0px 0px 10px 0px;
}

#user-friends .list .row {
	box-shadow:inset 0 0 10px 0 rgb(70,123,203);
	background: #000;
	border-radius:10px;
}

#user-friends .list .row:hover {
	box-shadow:inset 0 0 30px 0 rgb(70,123,203);
}

#user-view .user-content {
	background:#000;
	border-left:1px solid rgb(43,87,154) !important;
}

.user-content.profile .meta .joined {
	color:#888;
}

.user-content .header {
	box-shadow:inset 0 1px 0 0 rgb(70,123,203);
}

.user-content .header span {
	color:#888;
}

.experience .xp .bar {
	border-radius: 10px;
}

.experience .xp .bar .progress {
	background: #000;
	border-radius: 10px;
	box-shadow: inset 0 0 10px rgb(70,123,203) !important;
}

.user-content.profile .meta.is-staff .role span {
	color:rgb(70,123,203);
}


.user-content.profile .points .subscribe-button {
	transition:0.3s;
	border-radius:5px;
	background:#000;
	box-shadow: inset 0 0 2px #c59840 !important;
}

.user-content.profile .points .subscribe-button:hover {
	box-shadow: inset 0 0 30px #c59840 !important;
	background:rgba(0,0,0,0.8) !important
}


.experience .levels .level.earned.ep {
	background:#000 !important;
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
}

.experience .levels .level {
	background: #000;
	box-shadow: inset 0 0 2px rgb(70,123,203) !important;
	transition:0.3s;
}

.experience .levels .level:hover {
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
}

.experience .levels .level .label {
	background: rgb(43,87,154) !important;
}

.icon-sunburst {
	background-position: 0px 0px;
	background: rgb(43,87,154) !important;
	z-index: -1 !important;
}

.arrow-down, .avi, .icon, .spinner, .thumb.large, .thumb.medium, .thumb.small {
	z-index: 2 !important;
}

.experience .levels .level.mystery .label span {
	color:#eee !important;
	z-index: 2 !important;
}

#user-store .misc .grid .cell .title-bar {
	background: #000;
}

.communities .grid .cell .bar {
	background: #000;
}

.communities .grid .cell .meta {
	background: #000;
}

.communities .grid .cell .favorite {
	background: rgb(43,87,154) !important;
}

.user-content.communities button {
	background: rgb(43,87,154) !important;
}

.user-content.communities button:hover {
	background: rgb(70,123,203) !important;
}

/* Room */

#room-settings-menu {
	background: #000;
}

#room-settings .general-settings {
	background: #000;
	border-left:1px solid rgb(70,123,203) !important;
}

#room-settings .general-settings .option.enabled>button.off {
	background:#282c35 !important;
}

#room-settings .general-settings .option button.off {
	background: rgb(70,123,203) !important;
}

#room-settings .general-settings .option.enabled>button.on {
	background:#ff0000 !important;
}

#room-settings-menu .item.selected {
	background: rgb(70,123,203) !important;
}

/* Playlist */

#playlist-panel {
	background: #000;
}

#playlist-menu {
	background: rgba(43,87,154,0.6) !important;
}

#search {
	background: rgba(43,87,154,0.6) !important;
}

#playlist-menu .title {
	color:#fff;
}

.jspContainer {
	background: #000;
}

#playlist-menu .menu .row .count {
	color:rgb(70,123,203);
}

#playlist-menu .menu .row.selected {
	background: #000;
	border-left: 3px solid rgb(70,123,203);
}

#playlist-menu .menu .row {
	transition:0.3s;
}

#playlist-menu .menu .row:hover {
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
}

#playlist-activate-button.active {
	background: #000;
}

#media-panel .header .button {
	background: #000;
}

#playlist-activate-button:hover {
	background: #000;
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
}

#playlist-activate-button span {
	color:#fff;
}

#playlist-edit-button {
	background: #000;
}

#playlist-edit-button:hover {
	background: #000;
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
}

#playlist-shuffle-button {
	background: #000;
}

#playlist-shuffle-button:hover {
	background: #000;
	box-shadow: inset 0 0 30px #b300b3 !important;
}

#playlist-delete-button {
	background: #000;
}

#playlist-delete-button:hover {
	background: #000;
	box-shadow: inset 0 0 30px #ff0000 !important;
}

#playlist-import, #playlist-create {
	background: #000;
	box-shadow: inset 0 0 10px rgb(70,123,203) !important;
}

#playlist-import:hover, #playlist-create:hover {
	background: #000;
	box-shadow: inset 0 0 30px rgb(70,123,203) !important;
}

.dialog {
	background: rgb(43,87,154) !important;
}

.dialog-frame .button.cancel:hover {
	background: #ff0000 !important;
}

.dialog .dialog-frame .button .submit {
	background: #000 !important;
}

.media-list .row.now-playing {
	background: rgb(70,123,203) !important;
	border-bottom:2px solid rgb(43,87,154) !important;
}

.media-list .row.selected {
	background: rgba(70,123,203,0.4) !important;
	border:2px solid rgb(43,87,154) !important;
}

.media-list .row:hover {
	background: rgba(70,123,203,0.2) !important;
}

.media-list .actions {
	background: rgb(70,123,203) !important;
}

.drag-row-line {
	background: rgb(70,123,203) !important;
}

#playlist-create.drag-over {
	background: rgb(43,87,154) !important;
}

#playlist-create.drag-over:hover {
	background: rgb(70,123,203) !important;
}

#news, #news .label, #news .list, .drag-media-box, .drag-media-label, .drag-row-line {
	background: rgb(70,123,203) !important;
}

/* xBeast */

*/

/* #chat [data-cid^="29140933-"].emote {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } 28463273
    
    f #chat [data-cid^="29140933-"].message {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } */

#chat-messages [data-cid^="29140933-"] .timestamp,
#chat [data-cid^="29140933-"].emote .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^='29140933-'] .un:after,
#user-lists .list .user.id-29140933 .name:after,
#user-rollover.id-29140933 .username:after {
    content: 'ROOM DESIGNER';
    border-style: solid;
    border-color: #FFD244;
    border-radius: 2px;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #FFD244;
    font-style: normal;
}

#chat [data-cid^='29140933-'] .badge-box .bdg {
    background-image: url(http://i.imgur.com/x8LPVrt.gif)!important;
    background-size: cover !important;
}

#chat [data-cid^="29140933-"].message .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^="29140933-"].emote .text {
    color: #f7f7f7 !important;
}

#chat [data-cid^="29140933-"].message {
    color: #f7f7f7 !important;
}

#chat [data-cid^="29140933-"] .icon,
#chat .id-29140933 .icon {
    display: none !important;
}

#user-lists .list .user.id-29140933 .name,
#user-rollover.id-29140933 .username,
#chat [data-cid^='29140933-'] .un {
    color: #b300b3 !important;
    font-style: italic;
}

#chat-messages [data-cid^="29140933-"] .text {
    font-weight: bold;
}

#chat-messages [data-cid^="29140933-"] .msg {
    font-weight: bold;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.18));
    border-radius: 10px;
}

/* wazzup1 */

*/

/* #chat [data-cid^="6291187-"].emote {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } 28463273
    
    f #chat [data-cid^="6291187-"].message {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } */

#chat-messages [data-cid^="6291187-"] .timestamp,
#chat [data-cid^="6291187-"].emote .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^='6291187-'] .un:after,
#user-lists .list .user.id-6291187 .name:after,
#user-rollover.id-6291187 .username:after {
    content: 'RDKL';
    border-style: solid;
    border-color: #FFD244;
    border-radius: 2px;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #FFD244;
    font-style: normal;
}

#chat [data-cid^='6291187-'] .badge-box .bdg {
    background-image: url(http://i.imgur.com/L0NDlix.png)!important;
    background-size: cover !important;
}

#chat [data-cid^="6291187-"].message .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^="6291187-"].emote .text {
    color: #f7f7f7 !important;
}

#chat [data-cid^="6291187-"].message {
    color: #f7f7f7 !important;
}

#chat [data-cid^="6291187-"] .icon,
#chat .id-3609549 .icon {
    display: none !important;
}

#user-lists .list .user.id-6291187 .name,
#user-rollover.id-6291187 .username,
#chat [data-cid^='6291187-'] .un {
    color: #f7004e !important;
    font-style: italic;
}

#chat-messages [data-cid^="6291187-"] .text {
    font-weight: bold;
}

#chat-messages [data-cid^="6291187-"] .msg {
    font-weight: bold;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.18));
    border-radius: 10px;
}

/* Ðʝ Ƒ𝐢ᗪ𐍈 */

*/

/* #chat [data-cid^="4822496-"].emote {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } 28463273
    
    f #chat [data-cid^="4822496-"].message {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } */

#chat-messages [data-cid^="4822496-"] .timestamp,
#chat [data-cid^="4822496-"].emote .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^='4822496-'] .un:after,
#user-lists .list .user.id-4822496 .name:after,
#user-rollover.id-4822496 .username:after {
    content: 'HOST';
    border-style: solid;
    border-color: #FFD244;
    border-radius: 2px;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #FFD244;
    font-style: normal;
}

#chat [data-cid^='4822496-'] .badge-box .bdg {
    background-image: url(http://i.imgur.com/pLZOr3L.gif)!important;
    background-size: cover !important;
}

#chat [data-cid^="4822496-"].message .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^="4822496-"].emote .text {
    color: #f7f7f7 !important;
}

#chat [data-cid^="4822496-"].message {
    color: #f7f7f7 !important;
}

#chat [data-cid^="4822496-"] .icon,
#chat .id-4822496 .icon {
    display: none !important;
}

#user-lists .list .user.id-4822496 .name,
#user-rollover.id-4822496 .username,
#chat [data-cid^='4822496-'] .un {
    color: #f7004e !important;
    font-style: italic;
}

#chat-messages [data-cid^="4822496-"] .text {
    font-weight: bold;
}

#chat-messages [data-cid^="4822496-"] .msg {
    font-weight: bold;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.18));
    border-radius: 10px;
}

/* ChiefMcFlurry */

*/

/* #chat [data-cid^="4741080-"].emote {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } 28463273
    
    f #chat [data-cid^="4741080-"].message {
        background: rgba(255, 255, 68, 0.1) !important;
        border-left: #FFD244 3px solid !important;
    } */

#chat-messages [data-cid^="4741080-"] .timestamp,
#chat [data-cid^="4741080-"].emote .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^='4741080-'] .un:after,
#user-lists .list .user.id-4741080 .name:after,
#user-rollover.id-4741080 .username:after {
    content: '♥ Viktorka';
    border-style: solid;
    border-color: #FFD244;
    border-radius: 2px;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #FFD244;
    font-style: normal;
}

#chat [data-cid^='4741080-'] .badge-box .bdg {
    background-image: url(http://i.imgur.com/Zoz6zEb.png)!important;
    background-size: cover !important;
}

#chat [data-cid^="4741080-"].message .timestamp {
    color: #FFBE5B !important;
}

#chat [data-cid^="4741080-"].emote .text {
    color: #f7f7f7 !important;
}

#chat [data-cid^="4741080-"].message {
    color: #f7f7f7 !important;
}

#chat [data-cid^="4741080-"] .icon,
#chat .id-4741080 .icon {
    display: none !important;
}

#user-lists .list .user.id-4741080 .name,
#user-rollover.id-4741080 .username,
#chat [data-cid^='4741080-'] .un {
    color: #00f72d !important;
    font-style: italic;
}

#chat-messages [data-cid^="4741080-"] .text {
    font-weight: bold;
}

#chat-messages [data-cid^="4741080-"] .msg {
    font-weight: bold;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0.18));
    border-radius: 10px;
}

