/*
# Room:			ALL SONGS CZ/SK
# Author:		xBeats & Rustack
# Made for:		https://plug.dj/allsongs-czsk
# Created:		1.8.2017
## WARNING ##
You are NOT allowed using this file without creator's permission!
*/




/* Groups */

.group.host {
       color: #03FF7D;
}

.group.manager {
       color: #11F16E;
}

.group.bouncer {
       color: #00DC8F;
}

.group.dj {
       color: #00BC64;
}



#chat .from .un {
    color: #0080FF;
}

#chat .from.admin .un {
	color: #63BEFF;
}

#chat .from.ambassador .un {
	color: #86FF45;
}

#chat .from.host .un {
	color: #03FF7D;
}

#chat .from.cohost .un {
	color: #03FF7D;
}

#chat .from.manager .un {
	color: #11F16E;
}

#chat .from.bouncer .un {
	color: #00DC8F;
}

#chat .from.dj .un {
	color: #00BC64;
}

#chat .from.subscriber .un {
	color: #FFE149;
}

#chat .from.subscriber.silver .un {
	color: #EBEAE5;
}



.is-admin .name {
	color: #63BEFF;
}

.is-ambassador .name {
	color: #86FF45;
}

.is-host .name {
	color: #03FF7D;
}

.is-cohost .name {
	color: #03FF7D;
}

.is-manager .name {
	color: #11F16E;
}

.is-bouncer .name {
	color: #00DC8F;
}

.is-dj .name {
	color: #00BC64;
}

.is-subscriber .name {
	color: #FFE149;
}

.is-subscriber.silver .name {
	color: #EBEAE5;
}




.user-content.profile .meta.is-admin .role span {
	color:rgb(99, 190, 255);
}

.user-content.profile .meta.is-ambassador .role span {
	color:rgb(134, 255, 69);
}

.user-content.profile .meta.is-host .role span {
	color:rgb(3, 255, 125);
}

.user-content.profile .meta.is-cohost .role span {
	color:rgb(3, 255, 125);
}

.user-content.profile .meta.is-manager .role span {
	color:rgb(17, 241, 110);
}

.user-content.profile .meta.is-bouncer .role span {
	color:rgb(0, 220, 143);
}

.user-content.profile .meta.is-dj .role span {
	color:rgb(0, 188, 100);
}

.user-content.profile .meta.is-subscriber .role span {
	color:rgb(255, 225, 73);
}

.user-content.profile .meta.is-subscriber.silver .role span {
	color:rgb(235, 234, 229);
}







/* Rustack */

#user-rollover.id-29099103 .meta:before {
    content: 'CSS';
    top: 112px;
    left: 105px;
    position: absolute;
    display: inline-block; 
    padding: 0 3px;
    color: #03FF7D;
    background: linear-gradient(rgba(0, 64, 0, 0.5), rgba(0, 128, 0, 0.5));
    font-size: 10px;
}

#user-rollover.id-29099103 .meta:after {
    content: 'Helper';
    color: #03FF7D;
    position: absolute;
    top: 110px;
    left: 130px;
}

#chat .cm[data-cid^="29099103-"] .un {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}

#user-rollover.id-29099103 > .info > .role span:after {
    content:'/ VIP';
}

.id-29099103 > .msg > .from.dj > .un, 
#waitlist .list .user[data-uid="29099103"] .meta.is-staff .name .icon-chat-dj + span, #user-rollover.id-29099103 > .info > .role span, #user-rollover.id-29099103 > .meta > .username, #user-lists .list.room .user.id-29099103 .name {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}

#chat .cm.message.id-29099103, #chat .cm.emote.id-29099103 {
    border-left:  #03FF7D 2px dotted !important;
    border-right: #03FF7D 2px dotted !important;
}

#chat .cm.message.id-29099103:hover, #chat .cm.emote.id-29099103:hover {
    border-left-style:  solid !important;
    border-right-style: solid !important;
}

.emote.id-29099103 .text {
    color:  #03FF7D !important;
}

[data-cid^="29099103"].cm .msg .from .un, #user-lists .list.room .user.role-dj.id-29099103 .name {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}


[data-cid^="29099103"].cm .msg .from .un {
        font-size: 13px;
}

[data-cid^="29099103"].cm:hover .msg .from .un, #user-lists .list .user.role-dj.id-29099103:hover .name {
    color: rgb(3, 255, 125) !important;
    text-shadow: 0px 0px 1px #11F16E, 0px 0px 5px #00DC8F, 2px 2px 10px #11F16E !important;
}

#chat [data-cid^='29099103-'] .un:after,
#user-lists .list .user.id-29099103 .name:after,
#user-rollover.id-29099103 .username:after {
    content: 'Designer Helper';
    border-style: solid;
    border-color: #03FF7D;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #11F16E;
    font-style: normal;
}

/* 🎮𝕩𝕓𝕖𝕒𝕤𝕥🎮 */

#user-rollover.id-29140933 .meta:before {
    content: 'CSS';
    top: 112px;
    left: 105px;
    position: absolute;
    display: inline-block; 
    padding: 0 3px;
    color: #11F16E;
    background: linear-gradient(rgba(0, 64, 0, 0.5), rgba(0, 128, 0, 0.5));
    font-size: 10px;
}

#user-rollover.id-29140933 .meta:after {
    content: 'Designer';
    color: #11F16E;
    position: absolute;
    top: 110px;
    left: 130px;
}

#chat .cm[data-cid^="29140933-"] .un {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}

#user-rollover.id-29099103 > .info > .role span:after {
    content:'/ VIP';
}

.id-29140933 > .msg > .from.dj > .un, 
#waitlist .list .user[data-uid="29140933"] .meta.is-staff .name .icon-chat-dj + span, #user-rollover.id-29140933 > .info > .role span, #user-rollover.id-29140933 > .meta > .username, #user-lists .list.room .user.id-29140933 .name {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}

#chat .cm.message.id-29140933, #chat .cm.emote.id-29140933 {
    border-left:  #11F16E 2px dotted !important;
    border-right: #11F16E 2px dotted !important;
}

#chat .cm.message.id-29140933:hover, #chat .cm.emote.id-29140933:hover {
    border-left-style:  solid !important;
    border-right-style: solid !important;
}

.emote.id-29099103 .text {
    color:  #11F16E !important;
}

[data-cid^="29140933"].cm .msg .from .un, #user-lists .list.room .user.role-dj.id-29140933 .name {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}


[data-cid^="29140933"].cm .msg .from .un {
        font-size: 13px;
}

[data-cid^="29140933"].cm:hover .msg .from .un, #user-lists .list .user.role-dj.id-29140933:hover .name {
    color: rgb(17, 241, 110) !important;
    text-shadow: 0px 0px 1px #00DC8F, 0px 0px 5px #00DC8F, 2px 2px 10px #00DC8F !important;
}

#chat [data-cid^='29140933-'] .un:after,
#user-lists .list .user.id-29140933 .name:after,
#user-rollover.id-29140933 .username:after {
    content: 'Room designer';
    border-style: solid;
    border-color: #11F16E;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #00DC8F;
    font-style: normal;
}

/* Ðʝ Ƒ𝐢ᗪ𐍈 */

#chat [data-cid^='4822496-'] .un:after,
#user-lists .list .user.id-4822496 .name:after,
#user-rollover.id-4822496 .username:after {
    content: 'Host ';
    border-style: solid;
    border-color: #11F16E;
    border-width: 1px;
    font-size: 10px;
    display: inline-block;
    margin: 0 0 0 8px;
    padding: 0 2px;
    color: #11F16E;
    font-style: normal;
}



/* Subscriber */

#user-rollover .meta.subscriber .status span {
	color: #FFE149;
}

#user-rollover .actions .giftsub span {
	color: #FFE149;
}



#user-rollover .meta.subscriber.silver .status i {
	background-image: url("http://i.imgur.com/tn3DrDG.png");
	color: #EBEAE5;
	background-position: -1px 0 !important;
}
#user-rollover .meta.subscriber.silver .status span {
	color: #EBEAE5;
}

/* Staff */



.icon-chat-admin ~ .un, .app-right .friends .is-admin span, .from.admin > span {
    color: #63BEFF !important;
}



:not(#chat) .icon-chat-ambassador + span, #chat .icon-chat-ambassador ~ .un {
    color: #86FF45 !important;
}



#user-panel:not(.is-none) .user > .icon-chat-host + .name,#user-lists .user > .icon-chat-host + .name,.message.from-host > .from,.emote.from-host > .from,.mention.from-host > .from {
    color: #03FF7D !important;
}

.icon-chat-host ~ .text > .name,.icon-chat-host ~ .from,.icon-chat-host ~ span {
    color: #03FF7D !important;
}

#user-lists .group.host ~ .user {
    color: #03FF7D !important;
}


#chat-messages:not(.is-none) .user > .icon-chat-cohost + .name,#user-lists .user > .icon-chat-cohost + .name,.message.from-cohost > .from,.emote.from-cohost > .from,.mention.from-cohost > .from {
    color: #03FF7D !important;
}

.icon-chat-cohost ~ .text > .name,.icon-chat-cohost ~ .from,.icon-chat-cohost ~ span {
    color: #03FF7D !important;
}

.icon-chat-cohost, .message.from-cohost > .icon,.emote.from-cohost > .icon, .mention.from-cohost > .icon {		
    background-image: url('https://vgy.me/9L48ig.png') !important;		
    background-position: center;		
}



.icon-chat-manager ~ .text > .name,.icon-chat-manager ~ .from,.icon-chat-manager ~ span {
    color: #11F16E !important;
}

#user-panel:not(.is-none) .user > .icon-chat-manager + .name,#user-lists .user > .icon-chat-manager + .name,.message.from-manager > .from,.emote.from-manager > .from,.mention.from-manager > .from {
    color: #11F16E !important;
}

#user-lists .group.manager ~ .user {
    color: #11F16E !important;
}

/* Bouncer */

#user-panel:not(.is-none) .user > .icon-chat-bouncer + .name,#user-lists .user > .icon-chat-bouncer + .name,.message.from-bouncer > .from,.emote.from-bouncer > .from,.mention.from-bouncer > .from {
    color: #00DC8F !important;
}

.icon-chat-bouncer ~ .text > .name,.icon-chat-bouncer ~ .from,.icon-chat-bouncer ~ span {
    color: #00DC8F !important;
}

#user-lists .group.bouncer ~ .user {
    color: #00DC8F !important;
}

/* Rdj */

#user-panel:not(.is-none) .user > .icon-chat-dj + .name,#user-lists .user > .icon-chat-dj + .name,.message.from-residentdj > .from,.emote.from-residentdj > .from,.mention.from-residentdj > .from {
    color: #00BC64 !important;
}

.icon-chat-dj ~ .text > .name,.icon-chat-dj ~ .from,.icon-chat-dj ~ span {
    color: #00BC64 !important;
}

#user-lists .group.dj ~ .user {
    color: #00BC64 !important;
}






